*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  font-family: "Zalando Sans Expanded";
  letter-spacing: -1px;

  margin: 0;
  min-height: 100vh;

  background-color: #141413;

  /*display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  overflow: hidden;*/
    
  /*background: linear-gradient(
  120deg,
  #111111,
  #011117,
  #021219,  
  #04161c,
  #0a2029,
  #3e4b5d,
  #0a2029,
  #04161c,
  #021219,
  #011117,
  #000000
  );
  background-size: 400% 400%;

  animation: gradientDrift 40s ease infinite;
  overflow: hidden; /* Prevent scrollbars from moving blobs */

    
  /*background-image: url(ruido-98-CC9G3owaORQ-unsplash.jpg);
  background-size: cover;*/

}

/*@keyframes gradientDrift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/

/*.zalando-sans-expanded-<uniquifier> {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/*.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #1a1a1a1a;
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -20%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 20%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.line:nth-child(4) {
  margin-left: -10%;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.line:nth-child(5) {
  margin-left: 10%;
}

.line:nth-child(5)::after {
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
}


.line:nth-child(6)::after {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}*/

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* important for mobile */

}

h1 {
    color: #d3000b;
    opacity: 85%;
    font-weight: 500;
    font-style: italic;
    /*text-shadow: 1px 1px 6px #000000;*/
    /*text-transform: uppercase;*/
    
}

h2 {
  font-weight: 500;  
}

/* LOGO STYLING */

.logo-link {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem;
  z-index: 10;
  text-decoration: none;
  color: #d3000b;
  font-style: italic;

}

.logo-link:hover .logo {
  opacity: 0.85;
}

.logo {
  width: 90px;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));

}

@media (max-width: 480px) {
  .logo {
    width: 85px;
  }
}


/* FORM SIZING & SPACING */

.request-form {
    width: 100%;
    max-width: 420px; /* sweet spot for mobile + desktop */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;


}


/* FORM INPUT & TEXT AREA STYLING */

.request-form input,
.request-form textarea {
    color: #fcfcfc;
    /*background-color: #1D2025;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: "Zalando Sans SemiExpanded";
    font-weight: 400;
    font-style: italic;
    width: 100%;
    padding: 0.75rem;
    padding-left: 14px;
    font-size: 1rem;

}

.request-form input::placeholder,
.request-form textarea::placeholder {
    color: #d3000b;

} 

/*.request-form input:focus,
.request-form textarea:focus {

    color: #1D2025;
    background-color: #D0D9D8;
    border-style: inset;
    border: 1.5px;

}*/

.request-form textarea {
    resize: none;
    padding-top: 12px;
   
}


/* FORM ELEMENT BORDERS */

.request-form input,
.request-form textarea,
.request-form button {
    border: 1.5px;
    border-radius: 8px;

    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: #d3d3d300;
    border: 1px outset #d3000b;

    /*box-shadow: 5px 5px #000000;*/

}

.request-form input :active,
.request-form textarea :active,
.request-form button :active {
  color: #d3d3d3;
  border-color: #d3d3d3

}

/* BUTTON STYLING */

.request-form button {
    color: #d3000b;
    background-color: #dfdedee2;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 0.75rem;
    
    font-family: "Zalando Sans Expanded";
    font-weight: 600;
    font-style: italic;
    font-size: large;
    /*text-transform: uppercase;*/
    letter-spacing: -1px;

}

.request-form button:hover {
    color: #d3d3d3;
    background-color: #d3000b;
    border-style: inset;
    border-color: #1d1d1b;

}


/*img {
position: top left;

}*/

/*div {
    width: 400px;
    margin: auto;
}*/

/*.input-field {
    background-color: #2b2b2b;
    border-color:#b5b5b5;
    border-width: 1.5px;
    color: #f3f3f3;
    padding-left: 15px;
    
}*/
