*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
    font-family: "Tektur", sans-serif;
    font-weight: normal;
    background-color: #2E3740;
    background-image: url(trackreq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* important for mobile */

}


/* LOGO STYLING */

.logo-link {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem;
  z-index: 10;
}

.logo-link:hover .logo {
  opacity: 0.85;
}

.logo {
  width: 85px;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));

}

@media (max-width: 480px) {
  .logo {
    width: 85px;
  }
}


h1 {
    /* text-align: center; */
    color: #D0D9D8;
    font-weight: normal;
    text-shadow: 1px 1px 6px #000000;
    
}

/* FORM SIZING & SPACING */

.request-form {
    width: 100%;
    max-width: 420px; /* sweet spot for mobile + desktop */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

}


/* FORM INPUT & TEXT AREA STYLING */

.request-form input,
.request-form textarea {
    color: #D0D9D8;
    background-color: #1D2025;
    width: 100%;
    padding: 0.75rem;
    padding-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}

.request-form input::placeholder,
.request-form textarea::placeholder {
    color: #646e78;

} 

.request-form input:focus,
.request-form textarea:focus {

    color: #1D2025;
    background-color: #D0D9D8;
    border-style: inset;
    border: 1.5px;

}

.request-form textarea {
    resize: none;
    border-style: inset;
    padding-top: 12px;
   
}


/* FORM ELEMENT BORDERS */

.request-form input,
.request-form textarea,
.request-form button {
    border: 1.5px;
    border-color: #1D2025; 
    border-style: inset;
    /*border-radius: 8px;*/
    box-shadow: 5px 5px #000000;

}


/* BUTTON STYLING */

.request-form button {
    color: #2E3740;
    background-color: #D0D9D8;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 0.75rem;
    font-family: "Tektur", sans-serif;
    font-style: normal;
    font-weight: normal;
    
}

.request-form button:hover {
    color: #D0D9D8;
    background-color: #1D2025;
    border-style: inset;
    border-color: #D0D9D8

}


/*img {
position: top left;

}*/

/*div {
    width: 400px;
    margin: auto;
}*/

/*.input-field {
    background-color: #2b2b2b;
    border-color:#b5b5b5;
    border-width: 1.5px;
    color: #f3f3f3;
    padding-left: 15px;
    
}*/
