*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
    background-color: #2E3740;
    font-family: Arial, Helvetica, sans-serif;

}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* important for mobile */

}

/*img {

}*/

h1 {
    /* text-align: center; */
    color: #D0D9D8;
    
}

/* FORM SIZING & SPACING */

.request-form {
    width: 100%;
    max-width: 420px; /* sweet spot for mobile + desktop */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

}


/* FORM INPUT & TEXT AREA STYLING */

.request-form input,
.request-form textarea {
    color: #D0D9D8;
    background-color: #1D2025;
    width: 100%;
    padding: 0.75rem;
    padding-left: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;

}

.request-form input::placeholder,
.request-form textarea::placeholder {
    color: #646e78;

} 

/*.request-form input:focus,
.request-form textarea:focus {

    background-color: #1D2025;
    border-style: inset;
    border: 1.5px;

}*/

.request-form textarea {
    resize: none;
    border-style: inset;
    padding-top: 12px;
   
}


/* FORM ELEMENT BORDERS */

.request-form input,
.request-form textarea,
.request-form button {
    border: 1.5px;
    border-color: #1D2025; 
    border-style: inset;
    border-radius: 8px;

}


/* BUTTON STYLING */

.request-form button {
    color: #2E3740;
    background-color: #D0D9D8;
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    
}

.request-form button:hover {
    color: #D0D9D8;
    background-color: #1D2025;
    border-style: inset;
    border-color: #D0D9D8

}


/*div {
    width: 400px;
    margin: auto;
}*/

/*.input-field {
    background-color: #2b2b2b;
    border-color:#b5b5b5;
    border-width: 1.5px;
    color: #f3f3f3;
    padding-left: 15px;
    
}*/
