body {
    background-color: #232323;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; /* important for mobile */
}

.request-form {
    width: 100%;
    max-width: 420px; /* sweet spot for mobile + desktop */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.request-form input,
.request-form textarea {
    color: #f3f3f3;
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2b2b;
    border-color:#b5b5b5;
    border-width: 1.5px;

    padding-left: 14px;
}

h1 {
    /* text-align: center; */
    color: #b5b5b5;
    
}

.request-form button {
    color: #b5b5b5;
    background-color: #5a5a5a;
    border-color: #b5b5b5;
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.request-form button:hover {
    color: #2b2b2b;
    background-color: #b5b5b5;
    border-style: inset;
    border-color: #000000
}

/*.input-field {
    background-color: #2b2b2b;
    border-color:#b5b5b5;
    border-width: 1.5px;
    color: #f3f3f3;
    padding-left: 15px;
    
}*/

.request-form input::placeholder{
    color: #646464;
} 

.request-form textarea::placeholder {
    color: #646464;
   
}

.request-form textarea {
    resize: none;
    border-style: inset;
    padding-top: 12px;
   
}

/*div {
    width: 400px;
    margin: auto;
}*/

